{% extends 'base.html.twig' %}

{% block title %}Edit ActuelleFiche{% endblock %}

{% block body %}
  
{# Assuming you pass the form variable as 'form' to your Twig template #}
<form method="post" class="p-14 bg-white">
    {# ... Your existing <style> and <script> tags ... #}

    {{ form_start(form) }} {# This initializes the form #}

    <div class="box">
        <div class="box_col ">
            {# Render the 'titre' field #}
            <div>
                {{ form_label(form.titre, 'Titre', {'attr': {'class': 'Label ml-4 flex items-start gap-8 pl- bg-white rounded-6px'}}) }}
                {{ form_widget(form.titre, {'attr': {'class': 'h-16 bg-white border-2 border-color-707C8B rounded-lg', 'style': 'width: 515px;', 'id': 'title'}}) }}
            </div>

            {# Render the 'description' field #}
            <div class="mt-100">
                <div class="pt-12">
                    {{ form_label(form.description, 'Description', {'attr': {'class': 'w-60 h-6 bg-white ml-4 pb-4 left-14 top-0 text-color-707C8B text-15px font-NotoSans font-400 line-height-20.25px break-word'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'w-512 h-32 bg-transparent border-2 border-color-B0A5A5 rounded-lg', 'style': 'width: 515px;', 'id': 'des'}}) }}
                </div>
            </div>
        </div>

        {# Render the 'idCategories' field as a dropdown #}
        {{ form_widget(form.idCategories, {'attr': {'class': 'h-16 ml-80', 'style': 'width: 300px;'}}) }}
    </div>  

    {# Render the 'contenu' field with tinymce editor #}
    {{ form_widget(form.contenu, {'attr': {'id': 'editor','class': 'h-16 ml-80', 'style': 'width: 300px;'}}) }}

    <div class="flex mt-8">
        {# Render the submit button #}
        {{ form_widget(form.save, {'attr': {'class': 'h-42 bg-blue-600 rounded-lg ml-96', 'style': 'width:434px'}}) }}
        <div class="ml-36">
            {# Additional details for author and date if needed #}
            <div>
                {{ form_label(form.auteur) }}
                {{ form_widget(form.auteur) }}
            </div>
            <div>
                {{ form_label(form.dateCreation) }}
                {{ form_widget(form.dateCreation) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }} {# This renders the rest of the form including the CSRF token field #}
</form>



    



{% endblock %}
