{% extends 'base.html.twig' %}

{% block title %}Edit ActuelleFiche{% endblock %}

{% block body %}
  
<form method="post" class="p-14 bg-white shadow-lg rounded-lg">
    {{ form_start(form) }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <div class="mb-4">
                {{ form_label(form.titre, 'Titre', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.titre, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div>
                {{ form_label(form.description, 'Description', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>
        </div>

        <div>
            {{ form_widget(form.idCategories, {'attr': {'class': 'block shadow border rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_widget(form.contenu, {'attr': {'class': 'block shadow border rounded py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        </div>
    </div>

    <div class="flex justify-between items-center mt-6">
        {{ form_widget(form.save, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'}}) }}
        <div>
            <div class="mb-4">
                {{ form_label(form.auteur) }}
                {{ form_widget(form.auteur, {'attr': {'class': 'shadow border rounded py-2 px-3 text-gray-700 leading-tight'}}) }}
            </div>
            <div>
                {{ form_label(form.dateCreation) }}
                {{ form_widget(form.dateCreation, {'attr': {'class': 'shadow border rounded py-2 px-3 text-gray-700 leading-tight'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</form>

{% endblock %}
