{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

	<!-- bienvenue + cherche + tri + fond bleu -->
	<div
		class="flex flex-col justify-start w-full h-80 bg-[url({{ asset('images/fond_header.png') }})] bg-no-repeat bg-center bg-cover text-white">
		<!-- titre site-->
		<div class="flex justify-center  text-center py-5 w-full">
			<h1 class="font-bold text-3xl w-3/12">Bienvenue sur notre Base de Connaissance</h1>
		</div>
		<!-- phrase accroche-->
		<div class="flex justify-center text-center w-full">
			<p class="font-normal w-5/12">Ici, vous trouverez des informations, des guides et des réponses à vos questions concernant nos produits et services.</p>
		</div>
		<!-- search bar -->
		<div class="flex justify-center text-center w-full">
			<input type="search" class="w-5/12 my-10 py-2 px-6 shadow-lg border rounded-full bg-stone-100 text-black hover:bg-stone-50	 active:bg-stone-150 focus:outline-none focus:ring focus:bg-stone-200	" placeholder="Recherche une fiche...">
		</div>
	</div>


	{% for actuelle_fiche in actuelle_fiches %}
		<button class="article-container" href="{{ path('app_actuelle_fiche_show', {'id': actuelle_fiche.id}) }}">
			<div class="icon-container">
				<img src="{{ asset('images/logo_javascript.png') }}" alt="JavaScript Logo" class="article-icon">

			</div>
			<div class="content-container">
				<h2 class="article-title">{{ actuelle_fiche.titre }}</h2>
				<div class="article-meta">
					<span class="author">{{ actuelle_fiche.auteur }}</span>
					|
					<span class="date">{{ actuelle_fiche.dateCreation ? actuelle_fiche.dateCreation|date('Y-m-d H:i:s') : '' }}</span>
				</div>
				<p class="article-summary">
					{{ actuelle_fiche.description }}
				</p>
			</div>
		</button>
	{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
	{% endfor %}


	<style>
		body {
			font-family: 'Arial', sans-serif;
			line-height: 1.6;
			background: #f4f4f4;
			margin: 0;
			padding: 20px;
		}

		.article-container {
			background: white;
			display: flex;
			align-items: center;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			padding: 20px;
			border-radius: 8px;
			max-width: 35%; /* Limite maximale de largeur à 35% de la fenêtre du navigateur */
			margin: auto; /* Centrage du bloc */
		}

		.icon-container {
			flex: 0 0 150px; /* Empêche le bloc de l'image de rétrécir ou de grandir */
		}

		.article-icon {
			width: 100%; /* Permet à l'image de remplir le bloc de l'icône */
			height: auto;
		}

		.content-container {
			flex-grow: 1; /* Permet au conteneur de contenu de grandir si nécessaire */
		}

		.article-title,
		.article-meta,
		.article-summary {
			margin: 0 0 10px;
		}

		.article-meta {
			color: #777;
			font-style: italic;
			font-size: 0.85em;
		}

		@media(max-width: 768px) {
			.article-container {
				flex-direction: column;
				align-items: flex-start;
				max-width: 100%; /* Le conteneur prendra toute la largeur sur les petits écrans */
			}

			.icon-container {
				flex: 0 0 auto; /* Permet au bloc de l'image de s'adapter à la taille de l'image */
				margin-bottom: 10px; /* Ajoute un espace entre l'image et le contenu du texte en dessous */
			}

			.article-icon {
				width: auto; /* Permet à l'image d'être réduite pour s'adapter au conteneur */
				max-width: 100%; /* Empêche l'image de dépasser le conteneur */
			}

			.content-container {
				flex-grow: 1; /* Le contenu prendra l'espace disponible */
			}
		}
	</style>
{% endblock %}
