{% extends 'base.html.twig' %}


{% block body %}



    
    
 <form method="post"    class="p-14 bg-white">

{{ form_start(form) }}
    <style>
.box {
  display: flex;
        }
.box_col
{
  display: flex;
    flex-direction: column;
}

    </style>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#editor', // Sélectionnez l'ID de votre textarea
            height: 400, // Hauteur de la zone d'édition
            plugins: 'link image code', // Les plugins que vous souhaitez activer
            toolbar: 'undo redo | bold italic | link image | code', // Les boutons de la barre d'outils
        });
    </script>

    <div class="box">

        <div class="box_col ">
          <div>
            <div class="Label ml-4   flex items-start gap-8 pl-   bg-white rounded-6px">
                <div class="Text text-color-707C8B text-15px font-NotoSans font-400 line-height-20.25px break-word">Titre</div>
            </div>
                {{ form_widget(form.titre, {'attr': {'class': 'h-16 bg-white border-2 border-color-707C8B rounded-lg', 'style': 'width: 515px;', 'id': 'title'}}) }}
          </div>
        

          <div class="mt-100">
              <div class="pt-12">
                  <div class="w-60 h-6 bg-white ml-4 pb-4">
                      <label for="des" class=" left-14 top-0 text-color-707C8B text-15px font-NotoSans font-400 line-height-20.25px break-word">Description</label>
                  </div>
                    {{ form_widget(form.description, {'attr': {'class': 'w-512 h-32 bg-transparent border-2 border-color-B0A5A5 rounded-lg', 'style': 'width: 515px;', 'id': 'des'}}) }}
              </div>
          </div>
        </div>
        <select id="maListeDeroulante" style="width: 300px;" class="h-16  ml-80">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>  
    </div>  
            
        
<div class="mt-100">
              <div class="pt-12">
                  <div class="w-60 h-6 bg-white ml-4 pb-4">
                      <label for="des" class=" left-14 top-0 text-color-707C8B text-15px font-NotoSans font-400 line-height-20.25px break-word">Contenu</label>
                  </div>
            {{ form_widget(form.contenu, {'attr': {'class': 'w-512 h-32 bg-transparent border-2 border-color-B0A5A5 rounded-lg', 'style': 'width: 515px;', 'id': 'des'}}) }}
              </div>
          </div>


    <div class="flex mt-8">
        {{ form_widget(form.save, {'attr': {'class': 'h-42 bg-blue-600 rounded-lg ml-96', 'style': 'width:434px'}}) }}
        <div class="ml-36">
            <div>
                <label id="auteur" name="auteur" class="text-color-707C8B">{{ app.user.userIdentifier }}</label>
                <button   >{{ app.user.userIdentifier }}aaa</button>

            </div>
            <div>
                <label class="text-color-707C8B">{{ "now"|date("Y-m-d") }}</label>
            </div>
        </div>
    </div>

{{ form_end(form) }} 
</form>

{% endblock %}