{% extends 'base.html.twig' %}


{% block body %}





<form method="post" class="p-14 bg-white">

    {{ form_start(form) }}

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#editor', // Sélectionnez l'ID de votre textarea
            height: 400, // Hauteur de la zone d'édition
            plugins: 'link image code', // Les plugins que vous souhaitez activer
            toolbar: 'undo redo | bold italic | link image | code', // Les boutons de la barre d'outils
        });
    </script>

    <!-- container supreme-->
    <div class="">
        <!-- partie titre + descr à gauche    &      dropdown a doirte-->
        <div class="flex justify-between">
            <!-- partie titre & description -->
            <div class="w-2/4">
                <!-- partie champs titre -->
                <div class="relative mb-10">
                    <label for="titre"
                        class="absolute top-0 left-3 -mt-3 bg-white text-sky-600 px-2 font-semibold">Titre</label>
                    {{ form_widget(form.titre, {'attr': {'class': 'px-3 bg-white border-2 border-color-707C8B
                    rounded-lg
                    w-full
                    h-10', 'id': 'title'}}) }}
                </div>

                <!-- partie champs description -->
                <div class="relative mb-10">
                    <label for="description"
                        class="absolute top-0 left-3 -mt-3 bg-white text-sky-600 px-2 font-semibold">Description</label>
                    {{ form_widget(form.description, {'attr': {'class': 'px-3 bg-white border-2 border-color-707C8B
                    rounded-lg w-full
                    h-10', 'id': 'des'}}) }}
                </div>
            </div>


            <!-- partie dropdown catégories-->
            <div class="w-1/4">
                <select id="maListeDeroulante"
                    class="w-full place-content-center px-4 py-2 border-2 border-color-707C8B rounded-lg">
                    <option value="selected">Choisir une catégories</option>
                    {% for c in actuelle_categories %}
                    <option value="{{ c.id }}">{{ c.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="relative">
            <label for="contenu"
                class="absolute top-0 left-3 -mt-3 text-justify bg-white text-sky-600 px-2 font-semibold"">Contenu</label>
        </div>
        {{ form_widget(form.contenu, {'attr': {'class': 'w-full h-32 px-3 bg-transparent border-2 border-color-B0A5A5
        rounded-lg', 'id': 'des'}}) }}
    </div>
    </div>





    <div class=" flex mt-8">
                {{ form_widget(form.save, {'attr': {'class': 'w-2/12 text-center px-4 rounded-md
                bg-[#0094C6] px-3 py-1.5 text-sm
                font-medium leading-6 text-white shadow-sm hover:bg-[#0085b2]
                focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                focus-visible:outline-[#0085b2]'}}) }}


        </div>

        {{ form_end(form) }}
</form>

{% endblock %}