


{% extends 'base.html.twig' %}

{% block title %}ActuelleFiche
{% endblock %}

{% block body %}

	<div class="w-full	py-14">
		<div
			class="w-4/6 p-10	mx-auto border rounded-xl shadow-lg border-gray-400">


			<!-- partie titre + catégorie -->
			<div
				class="flex justify-between items-center mb-8">
				<!-- titre de la page -->
				<h1 class="font-medium text-4xl"> {{ actuelle_fiche.titre }}</h1>

				<!-- Catégorie -->
				<label class="border border-gray-400 rounded-md px-12 py-2">
					<a href="/categorie">{{ actuelle_fiche.idCategories }}</a>
				</label>
			</div>

			<!-- contenu fiches (description + developpement) -->
			<div
				class="ml-4">
				<!-- description -->
				<div class="mb-12">
					<label class="font-normal text-gray-500 pb-10" for="">{{ actuelle_fiche.description }}</label>
					<p>                   </p>
				</div>

				<!-- developpement -->
				<div class="mb-10">
					<label class="font-normal text-gray-500 pb-10" for="">{{ actuelle_fiche.contenu }}</label>
					<p>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, libero veniam! Autem voluptates harum est natus tempore nulla nemo earum voluptas ipsa iusto error quo asperiores recusandae aspernatur, neque similique!
					</p>
				</div>

				<!-- date + auteur -->
				<div
					class="text-end flex-col mb-8">
					<!-- mettre auteur du commentaire -->
					<label class="font-normal text-sm text-[#707C8B]">{{ actuelle_fiche.auteur }} -</label>

					<!-- mettre date creation du commentaire -->
					<label class="font-normal text-sm text-[#707C8B]"></label>{{ actuelle_fiche.dateCreation|date('Y-m-d H:i:s')}}

				</div>	
			</div>

			<!-- boutons modif + comment + supprimer -->
			<div
				class="flex justify-between items-center space-x-8 w-full">
				<!-- button modifier -->
				<a  href="{{ path('app_actuelle_fiche_edit', {'id': actuelle_fiche.id}) }}"class="w-full text-center rounded-lg bg-[#0094C6] py-3 text-base font-semibold leading-6 text-white shadow-sm hover:bg-[#0085b2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0085b2]">Modifier</a>

				<!-- button commentaire -->
				<a href="#section-commentaires" class="w-full text-center  rounded-lg bg-[#0094C6] py-3 text-base font-semibold leading-6 text-white shadow-sm hover:bg-[#0085b2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0085b2]">Commentaire</a>

				<!-- button supprimer -->
 				<button id="openModal" class="w-full text-center  rounded-lg bg-[#FF0000] py-3 text-base font-semibold leading-6 text-white shadow-sm hover:bg-[#d40606]">Supprimer</button>
			</div>

			<!-- partie soumettre commentaire / formulaire ajout commentaire -->
			<section id="section-commentaires" class="mt-20  p-12 border rounded-lg bg-[#f9f9f9]">
				<!-- titre section commentaire-->
				<h1 class=" font-medium text-3xl leading-tight text-black">Comments</h1>

				<form
					action="" class="flex flex-col justify-start w-full border border-blue-500 rounded-lg shadow-lg bg-white my-4 px-5 py-3 mb-10">
					<!-- auteur commentaire-->
					<h4 class="text-lg font-semibold text-black mb-4">Stefen Ince</h4>

					<!-- contenu commentaire-->
					<!-- <input type="text" class="text-base font-normal leading-snug text-black max-w-5xl resize-none break-words"></input>-->
					<textarea id="comment" name="comment" class="text-base font-normal leading-snug text-black max-w-5xl h-16 px-4 py-2 resize-none break-words border border-slate-400"></textarea>


					<hr
					class="my-6">

					<!-- bouton ajouter-->
					<button class="w-40 text-center bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded cursor-pointer">Ajouter</button>

				</form>

				<!-- ******************* partie affichage commentaire ******************* -->
				{% for commentaire in commentaires %}
    				<div class="">
						<h4 class="text-lg font-semibold text-black ">{{ commentaire.auteur }}</h4>
						<p class="text-base font-normal leading-snug text-black max-w-5xl py-2">{{ commentaire.contenu  }}</p>
						<span class="font-semibold">{{ commentaire.dateCommentaire|date('Y-m-d H:i:s')}}</span>
						<hr class="my-6 border-cyan-700">
					</div>
				{% endfor %}
			</section>
</div>
	</div>
	
        </div>
		
    </div>

	<!-- STYLE POP-UP / MODAL-->
		<span class="hidden sm:inline-block sm:align-middle sm:h-screen">​
			<div id="deleteModal" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-52 bg-gray-50 z-50 inline-block bg-white rounded-lg text-left overflow-hidden shadow-2xl transition-all sm:my-8 sm:max-w-lg sm:w-full sm:border sm:border-blue-400" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                        Confirmation de Suppression
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">
                            Êtes-vous sûr de vouloir supprimer cette fiche? Cette action est irréversible.
                        </p>
                    </div>
                </div>
                <div class=" px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse sm:items-center">
                    <form method="post" action="{{ path('app_actuelle_fiche_delete', {'id': actuelle_fiche.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actuelle_fiche.id) }}">
                        <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
                            Supprimer
                        </button>
                    </form>
                    <button type="button" class="w-full inline-flex justify-center items-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="toggleModal()">
                        Annuler
                    </button>
                </div>
            </div>
		</span>
		

	 <script>
        function toggleModal() {
            var modal = document.getElementById("deleteModal");
            modal.classList.toggle("hidden");
        }

        document.getElementById("openModal").addEventListener("click", toggleModal);
    </script>

{% endblock %}

